alembic==1.8.1
aniso8601==9.0.1
annotated-types==0.5.0
anyio==3.7.1
asttokens==2.4.1
azure-common==1.1.28
azure-core==1.28.0
azure-identity==1.13.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.0.1
azure-storage-blob==12.17.0
bcrypt==4.0.1
blinker==1.7.0
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.3.3
certifi==2023.7.22
chardet==3.0.4
click==8.1.3
click-params==0.3.0
cloudpickle==2.2.1
comm==0.2.2
cycler==0.12.1
decorator==5.1.1
distro==1.9.0
dnspython==2.3.0
docker==6.1.3
ecdsa==0.18.0
email-validator==2.0.0.post2
entrypoints==0.4
etl-utils==0.1.11
executing==2.0.1
fastapi==0.65.0
Flask==3.0.2
Flask-Moment==1.0.5
Flask-SQLAlchemy==3.1.1
fonttools==4.50.0
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.29.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
gunicorn==21.2.0
h11==0.8.0
h2==3.2.0
hpack==3.0.0
http3==0.6.7
httpcore==0.12.0
httplib2==0.19.1
humanize==0.5.1
hyperframe==5.2.0
idna==2.8
importlib_metadata==7.1.0
ipython==8.22.2
ipywidgets==8.1.2
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonpointer==2.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
kubernetes==29.0.0
Mako==1.3.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mlflow==2.11.3
motor==3.2.0
msal==1.22.0
msal-extensions==1.0.0
numpy==1.26.4
oauthlib==3.2.2
orjson==3.9.2
pandas==2.2.1
parso==0.8.3
passlib==1.7.4
pexpect==4.9.0
pillow==10.2.0
portalocker==2.7.0
progressbar==2.2
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.2
pyasn1==0.5.0
pyasn1_modules==0.4.0
pydantic==1.10.10
pydantic_core==2.3.0
Pygments==2.17.2
PyJWT==2.7.0
pymongo==4.4.1
PyMySQL==1.0.3
pyparsing==2.4.7
pysingleton==0.2.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2024.1
PyYAML==6.0.1
querystring-parser==1.2.4
requests-oauthlib==2.0.0
rfc3986==1.5.0
rich==13.7.1
rsa==4.9
smmap==5.0.1
sniffio==1.3.0
SQLAlchemy==2.0.29
SQLAlchemy-Utils==0.38.3
sqlalchemy2-stubs==0.0.2a38
sqlmodel==0.0.8
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.14.2
stua==0.3
termcolor==2.4.0
threadpoolctl==3.4.0
traitlets==5.14.2
typing_extensions==4.7.1
tzdata==2024.1
unpaddedbase64==2.1.0
uvicorn==0.22.0
validators==0.18.2
wcwidth==0.2.13
websocket-client==1.7.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
zenml==0.56.2
zipp==3.18.1
